{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}">{{item.item}} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center">Book Detail</h1>
<table width="600">
    <td align="center">
        <img src="{% static book.pic_path %}" class="center" height="300"/>
    </td>
</table>

<table border="2" width="600">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>

        <th>
            User
        </th>
        <th>
            Publish Date
        </th>
    </tr>
     <tr>
        <td>
            {{ book.name }}
        </td>
        <td>
            {{ book.price }}
        </td>

        <td>
            {{ book.username }}
        </td>
        <td>
            {{ book.publishdate }}
        </td>
     </tr>
</table>
{% endblock content %}