{% extends "base.html" %}
{% load static %}

{% block sidenav %}
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
{% endblock sidenav %}

{% block content%}
<h1 align="center">User Login Page</h1>

<form action="{% url 'login' %}" method="post" >
    <table>
        {{form.as_table }}
        <tr>
            <td>
                <input type="submit" value="login">
            </td>
        </tr>
    </table>
    <p>
        To register: <a href="{% url 'register' %}"> Click Here</a>
    </p>
    <input type="hidden" name="next" value="{{ next }}"/>
    {% csrf_token %}
</form>
{% endblock content %}
