{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h2 class="heading">Add a Comment or Rating</h2>

<div class="container p-2 text-start">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="" method="post">
                {% csrf_token %}
                <details>
                    <summary class="fs-5">
                        Add Comment
                    </summary>
                    <div class="form-group p-1">
                        <label for="id_commenter_body" class="form-label">Comment Body</label>
                        <textarea id="id_commenter_body" name="commenter_body" class="form-control">{{ form.commenter_body }}</textarea>
                    </div>
                </details>
                <hr class="divider">
                <details>
                    <summary class="fs-5">
                        Add Rating
                    </summary>
                    <div class="form-group p-1">
                        <label for="id_rating" class="form-label">Rating</label>
                        <input id="id_rating" type="number" min="0" max="5" name="value" class="form-control">
                    </div>
                </details>
                <div class="text-center">
                    <input class="btn btn-outline-primary p-1" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
