{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading">Add a Comment or Rating</h1>

        <div class="form-container">
            <form action="" method="post">
                {% csrf_token %}
                <details class="form-details">
                    <summary class="form-summary">
                        Add Comment
                    </summary>
                    <div class="form-field">
                        <label for="id_commenter_body">Comment Body:</label>
                        <textarea id="id_commenter_body" name="commenter_body">{{ form.commenter_body }}</textarea>
                    </div>
                </details>
                <hr class="divider">
                <details class="form-details">
                    <summary class="form-summary">
                        Add Rating
                    </summary>
                    <div class="form-field">
                        <label for="id_rating">Rating:</label>
                        <input id="id_rating" type="number" min="0" max="5" name="value">
                    </div>
                </details>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}
