{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    <ul class="sidenav">
        {% for item in item_list %}
            <li>
                <a href="{{ item.link }}">{{ item.item }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock sidenav %}

{% block content %}
<style>
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .book-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .book-image {
        max-height: 300px;
    }

    table {
        width: 600px;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

    th, td {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #92f2f2;
    }
</style>

<h1>Book Detail</h1>

<div class="book-detail">
    <img src="{% static book.pic_path %}" alt="{{ book.name }}" class="book-image">
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>User</th>
        <th>Publish Date</th>
        <th>Rating</th>
    </tr>
    <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.username }}</td>
        <td>{{ book.publishdate }}</td>
        <td>{{ book.ratings_average }}</td>
    </tr>
</table>
{% if not book.comments.all %}
<p>No Comments Added Yet</p>
{% else %}
{% for comment in book.comments.all %}
<p>
    <h4><strong>{{comment.user}}</strong></h4>
    {{comment.commenter_body}}</br>
    <small>{{comment.rating_value}} on {{comment.date_added}}</small>
</p>
<hr />
{% endfor %}
{% endif %}

<a class="btn btn-primary" href="{% url 'add-comment' book.id %}">Add Comment or Rating</a>
{% endblock content %}
