{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>{{ book.name }}</h2>
<div class="container p-2">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img class="img-fluid" src="{% static book.pic_path %}" alt="{{ book.name }}" class="book-image">
                    </div>
                    <div class="col-sm fs-4">
                        <strong class="fs-2">{{ book.price }}$</strong><br />
                        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from {{ book.username }}</small><br />
                        Published {{ book.publishdate }}<br />
                        Rated {{ book.ratings_average }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if not book.comments.all %}
<p>No Comments Added Yet</p>
{% else %}
<div class="container p-2">
    {% for comment in book.comments.all %}
    <div class="d-inline-block border border-rounded text-left p-1 m-2">
        <strong class="fs-4">{{comment.user}}&nbsp;</strong><small class="text-muted fs-6">{{comment.rating_value}} on {{comment.date_added}}</small><br />
        <p class="fs-5">{{comment.commenter_body}}</p>
    </div>
    <br />
    {% endfor %}
    
    <div>
        <a class="btn btn-outline-primary" href="{% url 'add-comment' book.id %}">Add Comment/Rating</a>
    </div>
</div>
{% endif %}
{% endblock content %}
