{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Book Detail</h1>

    <div class="book-detail">
        <img src="{% static book.pic_path %}" alt="{{ book.name }}" class="book-image">
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>User</th>
            <th>Publish Date</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.username }}</td>
            <td>{{ book.publishdate }}</td>
            <td>{{ book.ratings_average }}</td>
        </tr>
    </table>

    {% if not book.comments.all %}
    <p>No Comments Added Yet</p>
    {% else %}
    <div class="comments">
        {% for comment in book.comments.all %}
        <div class="comment">
            <h4><strong>{{comment.user}}</strong></h4>
            <p>{{comment.commenter_body}}</p>
            <small>{{comment.rating_value}} on {{comment.date_added}}</small>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a class="btn" href="{% url 'add-comment' book.id %}">Add Comment or Rating</a>
</div>
{% endblock content %}
