{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid welcome-section">
    <h1 style="text-align:center">Welcome to our Book Exchange System</h1>
</div>

<br>

<h2 style="text-align:center">ABOUT US</h2>

<div class="container">
    <div class="left-column">
        <table>
            <tr>
                <th>Group Members</th>
            </tr>
            <tr>
                <td>Allen Tamrazian</td>
            </tr>
            <tr>
                <td>Gabriel Linecker </td>
            </tr>
            <tr>
                <td>Kaelyn Taing</td>
            </tr>
            <tr>
                <td>Barnabas Novak</td>
            </tr>
            <tr>
                <td>Uriel Baldesco</td>
            </tr>
            <tr><td>Rizza Barnwell</td></tr>
        </table>
    </div>
    <div class="right-column">
        <p class="paragraph-border">
            We created a Book Exchange System that gives book lovers and book readers
            a place to post a book with a comment and/or a rating. The user is also
            able to send and receive messages via the Inbox Tab. Give the Book System a
            try and review your favorite books!
        </p>
        <p class="paragraph-border">We are a group of Computer Science Undergraduate students utilizing our
        software engineering technical skills to create this system. We used our knowledge of Django, Bootstrap,
            Databases, and Python to create a functional system for book users.
        </p>
    </div>
</div>

{% endblock content %}
