{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container-fluid">
    <h1 class="bg-info bg-gradient p-1 border border-2 border-dark">Welcome to our Book Exchange System</h1>
</div>

<br />

<h2>ABOUT US</h2>
<div class="container">
  <div class="row">
    <div class="col-3">
        <table class="table table-bordered text-start">
            <thead class="table-light">
                <tr>
                    <th scope="col">Group Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Allen Tamrazian</td>
                </tr>
                <tr>
                    <td>Gabriel Linecker </td>
                </tr>
                <tr>
                    <td>Kaelyn Taing</td>
                </tr>
                <tr>
                    <td>Barnabas Novak</td>
                </tr>
                <tr>
                    <td>Uriel Baldesco</td>
                </tr>
                <tr>
                    <td>Rizza Barnwell</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <p class="text-start fs-6">
            We are a group of Computer Science Undergraduate students utilizing our
            software engineering technical skills to create this system. We used our knowledge of Django, Bootstrap,
            Databases, and Python to create a functional system for book users.
            We're passionate about the power of storytelling and
            the joy of sharing books. We believe that every book deserves to be read
            and cherished, and that's why we've created a platform where book lovers
            from around the world can come together to exchange, discover, and connect.
            <br /><br />
            Our mission is simple: to make it easy and fun for people to find new homes
            for their beloved books and discover hidden literary treasures. Whether you're
            looking to declutter your bookshelf, find your next favorite read, or simply
            connect with fellow book enthusiasts. Here, you can actively engage with the community by
            commenting on and rating books. Additionally, our messaging feature enables seamless communication,
            allowing you to connect with other members directly through the inbox.
        </p>
        <figure class="text-end">
            <blockquote class="blockquote">
                <p>"There is no Frigate like a Book To take us Lands away."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Emily Dickinson">Emily Dickinson</cite>
            </figcaption>
        </figure>
    </div>
  </div>
</div>
{% endblock content %}
