{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <h1>My Books</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>
                    <a href="book_detail/{{ book.id }}" class="book-name">{{ book.name }}</a>
                </td>
                <td>
                    <img src="{% static book.pic_path %}" alt="{{ book.name }}" class="book-image">
                </td>
                <td>
                    <a href="book_delete/{{ book.id }}" class="delete-btn">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
