{% extends "base.html" %}
{% load static %}

{% block content %}
{% if books %}
<h2 class="page-title">Search Results for {{ query }}</h2>
<div class="row row-cols-1 row-cols-md-5 g-3">
    {% for book in books %}
    <div class="col">
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static book.pic_path %}" alt="{{ book.name }}"/>
            <div class="card-body">
                <h5 class="card-title"><a href="book_detail/{{ book.id }}">{{ book.name }}</a></h5>
                <!--<p class="card-text">{{ book.description }}</p>-->
                <p class="card-footer"><small class="text-muted">{{ book.ratings_average }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{% if query %}
<h2 class="page-title">Search Results for "{{ query }}"</h2>
<p>No books found matching "{{ query }}".</p>
{% endif %}
{% endif %}
{% endblock content %}
