{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Send a Message Page</h1>

    {% if submitted %}
    <p class="success-message">
        Sent the message successfully!
    </p>
    {% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <table>
            {{ form.as_table }}
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
    {% endif %}
</div>
{% endblock content %}
